Source: arek-wm
Section: x11
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
XSBC-Original-Maintainer: https://github.com/Unia/arek-wm
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               gsettings-desktop-schemas-dev,
               libglib2.0-dev (>= 2.32),
               libgtk-3-dev (>= 3.4.0),
               libmutter-dev (>= 3.8.4),
               valac (>= 0.22.0)
Standards-Version: 3.9.6
Homepage: https://github.com/Unia/arek-wm

Package: arek-wm
Architecture: any
Depends: gsettings-desktop-schemas,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: x-window-manager
Description: Arek Window Manager
 arek-wm is a window & compositing manager based on libmutter. It manages the
 various windows a user has open.
 It takes care of behaviors such as moving windows around, window switching,
 window overview, animating windows, maximization, multiple workspaces,
 providing accessibility features like zoom, and more.
